<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>This is a first page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Hello</h1>
        <p>
            how are you
        </p>
        variable1 value is <b>{{variable1}}</b>   {% comment %} here variable1 will get value from view.py file  {% endcomment %}
        variable2 value is <b>{{variable2}}</b> {% comment %} here variable2 will get value from view.py file  {% endcomment %}
        <script src="" async defer></script>
    </body>
</html>